<%- include('partials/header')%>
  <!--  -->
  <%- include('partials/nav')%>
  <div class="w-full h-screen flex ">
    <img src="" alt="">
  <div class="py-10 ml-20 w-6/12  h-96">

    <h1 class="font-extrabold text-6xl mt-20">Glow With Your <br> Limits </h1>
    <p class="mt-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Odio tenetur fugit et harum aspernatur sunt neque <br> officia beatae libero praesentium.</p>
      <button class="mt-20 w-40 h-12 rounded bg-pink-300">Start Shoping</button> <button class=" mt-20 w-40 h-12 rounded bg-sky-200">About us</button>
    
    </div>
     <div class="">
   <img class="w-full h-[80%]" src="https://img.freepik.com/premium-photo/beauty-woman-healthy-skin-concept-natural-makeup-beautiful-model-girl-face-hands-touching-woth-manicure-nails-studio-shot_431835-6971.jpg" alt="">
  </div>


</div>
<div class="w-full h-20 ">
<h1 class="text-center text-3xl font-bold">Top Category</h1></div>
<div class="w-full h-48  flex gap px-5 justify-between">
  <div  style="background-image: url(https://static.javatpoint.com/list/images/list-of-makeup-items5.png); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-44 h-44 rounded-full ">
  </div>
  <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZzkEWbOd79u7Sah12I0mM7RzuDr_4ZJQ6FQ&s); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-44 h-44 rounded-full">
   
  </div>
  <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRge81SbyBtRgGoYqOYsoVRP1dB91IXys-UQw&s); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-44 h-44 rounded-full"></div>
  <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShS8nSLsmY8CGieNOBjk86ExmUL2JvKbo3eg&s); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-44 h-44 rounded-full"></div>
  <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMSHGQ29vVHaLgvg_88t74VKzPBOcXBu8Ryw&s); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-44 h-44 rounded-full"></div>
  <div style="background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLkEXbXM2xKNyNrHoQ0JTXwvl4mqNzp4_Aig&s); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-44 h-44 rounded-full"></div>
</div>
<div class="w-full h-16  flex justify-between px-5">
  <h4 class="" >Pink blush</h4>
  <h4 class="" >highlighter</h4>
  <h4 class="" >spray</h4>
  <h4 class="" >Pink lipsticks</h4>
  <h4 class="" >foun brush</h4>
  <h4 class="" >foundation</h4>
</div> 
<div class="flex justify-between px-10 py-10">
  <div class="w-2/5 h-60 bg-neutral-200 flex">
    <div class="w-2/4 p-5 text-2xl mt-10">
      <h2>20% Discount</h2>
      <h1>Cosmetic Skin</h1>
      <h1>Perfectly</h1>
      <button class="w-28 mt-6 text-sm h-10 rounded bg-pink-300">Shop Now</button>
    </div>
    <div class="">
      <img class="w-80 h-60" src="https://img.freepik.com/premium-photo/makeup-foundation-with-different-skin-tones-liquid-white-background_1066950-144.jpg" alt="">
    </div>
  </div>
  <div class=" flex w-2/5 h-60 bg-neutral-200 ">
    <div class="w-2/4 p-5 text-2xl mt-10">
      <h2>20% Discount</h2>
      <h1>Cosmetic Skin</h1>
      <h1>Perfectly</h1>
      <button class="w-28 mt-6 text-sm h-10 rounded bg-pink-300">Shop Now</button>
    </div>
    <div class="">
      <img class="w-80 h-60" src="https://img.freepik.com/premium-photo/makeup-foundation-with-different-skin-tones-liquid-white-background_1066950-144.jpg" alt="">
    </div>
  </div>
</div>
<div class="w-full font-bold text-3xl text-center  h-16 ">
  
  <h1 class="mt-10">Trending Products</h1>
</div>
<div class="flex w-full">
  <button class="w-28 mr-10 ml-96 h-10 rounded bg-pink-300">New Arrival</button>
  <h1 class="mr-10 ml-20 mt-3" >bestseller</h1>
  <h1 class="mr-10 ml-20 mt-3">Special</h1>
</div>
<div class=" flex w-full h-80 ">
  <div  style="background-image: url(https://moirabeauty.in/cdn/shop/products/2-12_1120x.webp?v=1677217393); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-56 h-60 shadow-2xl mt-10 ml-20 border-red-500 "></div>
  <div  style="background-image: url(https://flenccosmetics.com/cdn/shop/files/KualaLumpur.webp?v=1722486005&width=1024); background-position: center; background-repeat: no-repeat; background-size: contain;"  class="w-56 h-60 shadow-2xl mt-10 ml-10 border-red-500 "></div>
  <div style="background-image: url(https://divyaa.co/cdn/shop/files/Age-DefyingSerum.jpg?v=1716562182&width=750); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-56 h-60 shadow-2xl mt-10 ml-10 border-red-500 "></div>
  <div style="background-image: url(https://rawls.in/cdn/shop/files/Crystal_Clear_Bubble_Face_Cleanser_2_7907b487-30b5-478f-a649-c16dc6244e8b_2048x2048.png?v=1721129432); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-56 h-60 shadow-2xl mt-10 ml-10 border-red-500 "></div>
  <div style="background-image: url(https://rubz.in/cdn/shop/files/RoseCreamMockup00.jpg?v=1706803120); background-position: center; background-repeat: no-repeat; background-size: contain;" class="w-56 h-60 shadow-2xl mt-10 ml-10 border-red-500 "></div>
  </div>
  <div class="w-full h-7 flex ">
    <h4 class=" ml-40" >Pink blush</h4>
    <h4 class="ml-40" >highlighter</h4>
    <h4 class="ml-52" >spray</h4>
    <h4 class="ml-52" >Pink lipsticks</h4>
    <h4 class="ml-52" >foun brush</h4>
    </div>
    <div class="w-full h-12 flex ">
      <h4 class=" text-pink-600 ml-40" >$113.60</h4>
      <h4 class="ml-40 text-pink-600" >$126.00</h4>
      <h4 class="ml-60 text-pink-600" >$123.80</h4>
      <h4 class="ml-52 text-pink-600" >$456.000</h4>
      <h4 class="ml-52 text-pink-600" >$567.00</h4>
      </div>

  <div class="w-full h-80  text-center">
    <form
    class="rounded p-5 mt-5 text-center"
    action="/sendmail"
    method="post"
>
    <h1 class="mb-5 text-3xl fw-bolder mt-20">Subscribe To Our Newsletter</h1>
    <input
        type="email"
        class="form-control w-60 h-10 p-5"
        name="email"
        placeholder="Email@domain.com"
    />
    <button class="w-40 h-10 rounded bg-green-500">Subscribe</button>
</form>

  </div>
  <div class="flex w-full h-96 bg-pink-300 text-black">
    <div  class="py-10 px-10">
      <h2 class=" text-2xl font-bold">Beuty Products for your <br> Glowig skin<br></h2>
      <h1 class="py-3">Skin Care</h1>
       <h3 class="py-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, <br> tempore unde quod illum ab quia explicabo  <br> laudantium obcaecati voluptas voluptates?

       </h3>
       <i class="face ri-facebook-fill px-3 text-2xl py-10 absolute"></i>
       <i class="inst ri-instagram-line px-12 text-2xl py-10 absolute"></i>
       <i class="git ri-github-fill px-24 text-2xl py-10 absolute"></i>
       <i class="twit ri-twitter-x-line px-32 text-2xl py-10 absolute"></i>
       </div>
       <div class="company py-10 px-10">
          <h4 class="font-bold">Company</h4>
          <br>
          About <br><br>
          feature <br><br>
          works <br><br>
          career <br><br>
       </div>
       <div class="help py-10 px-10">
          <h4 class="font-bold">Help</h4>
          <br>

          coustomer suport <br><br>
          deleivery detils <br><br>
          terms and condition <br><br>
          privacy policy <br><br>

       </div>
       <div class="resources py-10 px-10">
          <h4 class="font-bold">Resources</h4>
          <br>
          free  dematologist<br><br>
          interior toyrtial <br><br>
          blog <br><br>
          youtube play list <br><br>
       </div>
     </div>
     
</div>




  <!--  -->
  <%- include('partials/footer')%>
